h1{
    font-size: 24pt;
    color : black;
}

h2{
    font-size: 22pt;
    color: #333333;
}

h3{
    font-size: 20pt;
    color: #333333;
}

h4{
    font-size: 18pt;
    color: black;
}

h5{
    font-size: 16pt;
    color: black;
}

p{
    font-size: 14pt;
    color: black;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: #000000;
}

.intro_bg{
    background-color: #F9F9F9;
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    width: 868px;
    height: 80px;
    margin: auto;
    background-color: #DBD4BB;
}

.menu{
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
    background-color: #DBD4BB;
    width: calc(868px - 300px)
}

.menu > li{
    margin-left: 40px;
}
