/* *{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    border-collapse: collapse;
}

p{
    position: absolute;
    align-items: center;
}

.flexboard{
    position: flex-end;
    display: flex;
    width: auto;
    height: 10vh;
    justify-content: flex-end;
    align-items: center;
    background-color: bisque;
    padding-right: 20vw;
    overflow: hidden;
    line-height: 80px;

} */

ul{
    list-style-type: none;
}

/* li{
    margin-left: min(1vw, 500px);
} */ 

li{
    list-style: none;
    background-color: cornsilk;
    float: left;
    width: 50vw;
    height: 80px;
    line-height: 30px;
    padding-left: 10vw;
    position: flex-end;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}