*{
    padding: 0px;
    margin: 0px;
}

article{
    
}

.center_block{
    position: absolute;
    width: 50vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
    color: black;
    
}