*{
    background-color: black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    align-items: center;
    text-align: center;
}

p{
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 50%;
    background-color: gray;
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 50%
}

span{
    width : 50vw
}