*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: #000000;
    background-color: rgb(224, 224, 224);
}

article{
    position: absolute;
    width: 500px;
    height: 100px;
    background-color: white;
    box-shadow: gray 3px;
    align-content: center;
    text-align: center;
    border-radius: ;
}